
[*.{cs,vb}]
#### Naming styles ####

# Custom naming rules

# Underscored private fields
dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private
dotnet_naming_symbols.private_static_fields.applicable_kinds = field
dotnet_naming_symbols.private_static_fields.applicable_accessibilities = private
dotnet_naming_symbols.private_static_fields.required_modifiers = static
dotnet_naming_style.underscored.capitalization = camel_case
dotnet_naming_style.underscored.required_prefix = _
dotnet_naming_rule.private_fields_underscored.symbols = private_fields
dotnet_naming_rule.private_fields_underscored.style = underscored
dotnet_naming_rule.private_fields_underscored.severity = error
dotnet_naming_rule.private_static_fields_none.symbols = private_static_fields
dotnet_naming_rule.private_static_fields_none.style = underscored
dotnet_naming_rule.private_static_fields_none.severity = none

# Naming rules

dotnet_naming_rule.interface_should_be_begins_with_i.severity = warning
dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface
dotnet_naming_rule.interface_should_be_begins_with_i.style = begins_with_i

dotnet_naming_rule.types_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.types_should_be_pascal_case.symbols = types
dotnet_naming_rule.types_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.non_field_members_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.non_field_members_should_be_pascal_case.symbols = non_field_members
dotnet_naming_rule.non_field_members_should_be_pascal_case.style = pascal_case

# Symbol specifications

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.interface.required_modifiers = 

dotnet_naming_symbols.types.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.types.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.types.required_modifiers = 

dotnet_naming_symbols.non_field_members.applicable_kinds = property, event, method
dotnet_naming_symbols.non_field_members.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.non_field_members.required_modifiers = 

# Naming styles

dotnet_naming_style.begins_with_i.required_prefix = I
dotnet_naming_style.begins_with_i.required_suffix = 
dotnet_naming_style.begins_with_i.word_separator = 
dotnet_naming_style.begins_with_i.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_operator_placement_when_wrapping = beginning_of_line
tab_width = 4
indent_size = 4
end_of_line = crlf
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:suggestion
insert_final_newline = true
dotnet_style_prefer_auto_properties = true:silent
dotnet_style_object_initializer = true:suggestion
dotnet_style_prefer_collection_expression = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_prefer_simplified_boolean_expressions = true:suggestion
dotnet_style_prefer_conditional_expression_over_assignment = true:silent
dotnet_style_prefer_conditional_expression_over_return = true:silent
dotnet_style_explicit_tuple_names = true:suggestion
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_prefer_compound_assignment = true:suggestion
dotnet_style_prefer_simplified_interpolation = true:suggestion
dotnet_style_namespace_match_folder = true:error
dotnet_diagnostic.ca1724.severity = error
dotnet_diagnostic.ca1001.severity = error
dotnet_diagnostic.ca1002.severity = error
dotnet_diagnostic.ca1031.severity = suggestion
dotnet_diagnostic.ca1050.severity = error
dotnet_diagnostic.ca1061.severity = warning
dotnet_diagnostic.ca1063.severity = error
dotnet_diagnostic.ca1064.severity = error
dotnet_diagnostic.ca1065.severity = error
dotnet_diagnostic.ca1068.severity = error
dotnet_diagnostic.ca1069.severity = error
dotnet_diagnostic.ca1310.severity = error
dotnet_diagnostic.ca1510.severity = warning
dotnet_diagnostic.ca1511.severity = warning
dotnet_diagnostic.ca1512.severity = warning
dotnet_diagnostic.ca1513.severity = warning
dotnet_diagnostic.ca1700.severity = error
dotnet_diagnostic.ca1708.severity = suggestion
dotnet_diagnostic.ca1710.severity = warning
dotnet_diagnostic.ca1711.severity = warning
dotnet_diagnostic.ca1712.severity = warning
dotnet_diagnostic.ca1715.severity = warning
dotnet_diagnostic.ca1716.severity = none
dotnet_diagnostic.ca1806.severity = warning
dotnet_diagnostic.ca1813.severity = error
dotnet_diagnostic.ca1822.severity = error
dotnet_diagnostic.ca1826.severity = warning
dotnet_diagnostic.ca1827.severity = warning
dotnet_diagnostic.ca1828.severity = warning
dotnet_diagnostic.ca1829.severity = error
dotnet_diagnostic.ca1832.severity = warning
dotnet_diagnostic.ca1833.severity = warning
dotnet_diagnostic.ca1836.severity = warning
dotnet_diagnostic.ca1842.severity = warning
dotnet_diagnostic.ca1843.severity = warning
dotnet_diagnostic.ca1846.severity = warning
dotnet_diagnostic.ca1847.severity = error
dotnet_diagnostic.ca1849.severity = error
dotnet_diagnostic.ca1852.severity = error
dotnet_diagnostic.ca1853.severity = warning
dotnet_diagnostic.ca1854.severity = warning
dotnet_diagnostic.ca1858.severity = warning
dotnet_diagnostic.ca1868.severity = warning
dotnet_diagnostic.ca1869.severity = error
dotnet_diagnostic.ca2002.severity = error
dotnet_diagnostic.ca2011.severity = warning
dotnet_diagnostic.ca5350.severity = error
dotnet_diagnostic.ca5351.severity = error
dotnet_diagnostic.ca5360.severity = suggestion
dotnet_diagnostic.ca5359.severity = suggestion
dotnet_diagnostic.ca5364.severity = suggestion
dotnet_diagnostic.ca5365.severity = warning
dotnet_diagnostic.ca2245.severity = warning
dotnet_diagnostic.ca2250.severity = warning
dotnet_diagnostic.ca2251.severity = suggestion
dotnet_style_readonly_field = true:error
dotnet_style_predefined_type_for_locals_parameters_members = true:silent
dotnet_style_predefined_type_for_member_access = true:silent
dotnet_style_require_accessibility_modifiers = for_non_interface_members:silent
dotnet_style_allow_multiple_blank_lines_experimental = false:warning
dotnet_style_allow_statement_immediately_after_block_experimental = true:silent
dotnet_code_quality_unused_parameters = all:warning
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_other_operators = never_if_unnecessary:silent
dotnet_style_qualification_for_field = false:warning
dotnet_style_qualification_for_property = false:warning
dotnet_style_qualification_for_method = false:warning
dotnet_style_qualification_for_event = false:warning

[*.cs]
csharp_using_directive_placement = outside_namespace:error
csharp_prefer_simple_using_statement = true:suggestion
csharp_prefer_braces = true:warning
csharp_style_namespace_declarations = file_scoped:error
csharp_style_prefer_method_group_conversion = true:silent
csharp_style_prefer_top_level_statements = true:silent
csharp_style_prefer_primary_constructors = false:warning
csharp_style_expression_bodied_methods = false:silent
csharp_style_expression_bodied_constructors = false:silent
csharp_style_expression_bodied_operators = false:silent
csharp_style_expression_bodied_properties = true:silent
csharp_style_expression_bodied_indexers = true:silent
csharp_style_expression_bodied_accessors = true:silent
csharp_style_expression_bodied_lambdas = true:silent
csharp_style_expression_bodied_local_functions = false:silent
csharp_indent_labels = one_less_than_current
csharp_space_around_binary_operators = before_and_after
csharp_style_throw_expression = true:suggestion
csharp_style_prefer_null_check_over_type_check = true:suggestion
csharp_prefer_simple_default_expression = true:suggestion
csharp_style_prefer_local_over_anonymous_function = true:suggestion
csharp_style_prefer_index_operator = true:suggestion
csharp_style_prefer_range_operator = true:suggestion
dotnet_diagnostic.ide0130.severity = error
dotnet_diagnostic.ide0161.severity = error
dotnet_diagnostic.ide0160.severity = none
dotnet_diagnostic.ide0051.severity = warning
dotnet_diagnostic.ide0052.severity = warning
dotnet_diagnostic.ide0043.severity = warning
dotnet_diagnostic.ca1032.severity = error
dotnet_diagnostic.ca1200.severity = warning
dotnet_diagnostic.ca1311.severity = warning
dotnet_diagnostic.ca1507.severity = error
dotnet_diagnostic.ca1508.severity = error
dotnet_diagnostic.ca1805.severity = warning
dotnet_diagnostic.ca1825.severity = warning
dotnet_diagnostic.ca1851.severity = error
dotnet_diagnostic.ca2016.severity = error
dotnet_diagnostic.ide0004.severity = warning
dotnet_diagnostic.ide0005.severity = error
dotnet_diagnostic.ide0011.severity = suggestion
dotnet_diagnostic.ide0017.severity = suggestion
dotnet_diagnostic.ide0019.severity = suggestion
dotnet_diagnostic.ide0020.severity = suggestion
dotnet_diagnostic.ide0028.severity = suggestion
dotnet_diagnostic.ide0031.severity = warning
dotnet_diagnostic.ide0036.severity = suggestion
dotnet_diagnostic.ide0041.severity = suggestion
dotnet_diagnostic.ide0044.severity = warning
dotnet_diagnostic.ide0059.severity = suggestion
dotnet_diagnostic.ide0060.severity = suggestion
dotnet_diagnostic.ide0062.severity = warning
dotnet_diagnostic.ide0063.severity = suggestion
dotnet_diagnostic.ide0065.severity = warning
dotnet_diagnostic.ide0066.severity = warning
dotnet_diagnostic.ide0078.severity = suggestion
dotnet_diagnostic.ide0082.severity = suggestion
dotnet_diagnostic.ide0083.severity = suggestion
dotnet_diagnostic.ide0090.severity = warning
dotnet_diagnostic.ide0100.severity = suggestion
dotnet_diagnostic.ide0120.severity = suggestion
dotnet_diagnostic.ide0180.severity = warning
dotnet_diagnostic.ide0251.severity = warning
dotnet_diagnostic.ide0280.severity = suggestion
dotnet_diagnostic.ide0290.severity = none
dotnet_diagnostic.ide2000.severity = warning
csharp_style_implicit_object_creation_when_type_is_apparent = true:suggestion
csharp_style_prefer_tuple_swap = true:warning
csharp_style_prefer_utf8_string_literals = true:suggestion
csharp_style_inlined_variable_declaration = true:suggestion
csharp_style_deconstructed_variable_declaration = true:suggestion
csharp_style_unused_value_expression_statement_preference = discard_variable:silent
csharp_style_unused_value_assignment_preference = discard_variable:suggestion
csharp_prefer_static_local_function = true:suggestion
csharp_style_prefer_readonly_struct_member = true:suggestion
csharp_style_prefer_readonly_struct = true:suggestion
csharp_style_allow_embedded_statements_on_same_line_experimental = true:silent
csharp_style_allow_blank_lines_between_consecutive_braces_experimental = true:silent
csharp_style_allow_blank_line_after_colon_in_constructor_initializer_experimental = true:silent
csharp_style_allow_blank_line_after_token_in_conditional_expression_experimental = true:silent
csharp_style_allow_blank_line_after_token_in_arrow_expression_clause_experimental = true:silent
csharp_style_conditional_delegate_call = true:suggestion
csharp_style_prefer_switch_expression = true:warning
csharp_style_prefer_pattern_matching = true:warning
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion
csharp_style_prefer_not_pattern = true:suggestion
csharp_style_prefer_extended_property_pattern = true:suggestion
csharp_style_var_for_built_in_types = false:silent
csharp_style_var_when_type_is_apparent = false:silent
csharp_style_var_elsewhere = false:silent

# ReSharper properties
resharper_align_multiline_binary_expressions_chain = false
resharper_align_multiline_statement_conditions = false
resharper_align_multiline_type_parameter_constraints = true
resharper_align_multiple_declaration = true
resharper_arguments_string_literal = positional
resharper_blank_lines_after_control_transfer_statements = 1
resharper_blank_lines_around_single_line_local_method = 1
resharper_csharp_alignment_tab_fill_style = use_tabs_only
resharper_csharp_keep_blank_lines_in_code = 1
resharper_csharp_keep_blank_lines_in_declarations = 1
resharper_csharp_stick_comment = false
resharper_csharp_wrap_arguments_style = chop_if_long
resharper_csharp_wrap_before_binary_opsign = true
resharper_csharp_wrap_extends_list_style = chop_if_long
resharper_csharp_wrap_lines = false
resharper_csharp_wrap_multiple_declaration_style = chop_always
resharper_csharp_wrap_parameters_style = chop_if_long
resharper_empty_block_style = together_same_line
resharper_indent_nested_foreach_stmt = true
resharper_indent_nested_for_stmt = true
resharper_indent_nested_lock_stmt = true
resharper_indent_nested_while_stmt = true
resharper_indent_preprocessor_region = no_indent
resharper_indent_primary_constructor_decl_pars = inside
resharper_keep_existing_declaration_parens_arrangement = false
resharper_keep_existing_embedded_arrangement = false
resharper_keep_existing_expr_member_arrangement = false
resharper_keep_existing_invocation_parens_arrangement = false
resharper_keep_existing_list_patterns_arrangement = false
resharper_keep_existing_primary_constructor_declaration_parens_arrangement = false
resharper_keep_existing_property_patterns_arrangement = false
resharper_keep_existing_switch_expression_arrangement = false
resharper_max_enum_members_on_line = 1
resharper_max_primary_constructor_parameters_on_line = 3
resharper_place_accessorholder_attribute_on_same_line = false
resharper_place_accessor_attribute_on_same_line = false
resharper_place_expr_method_on_single_line = false
resharper_place_field_attribute_on_same_line = false
resharper_place_linq_into_on_new_line = false
resharper_place_simple_embedded_statement_on_same_line = false
resharper_space_between_attribute_sections = false
resharper_space_within_slice_pattern = false
resharper_treat_case_statement_with_break_as_simple = false
resharper_wrap_after_declaration_lpar = true
resharper_wrap_after_invocation_lpar = true
resharper_wrap_array_initializer_style = chop_if_long
resharper_wrap_before_arrow_with_expressions = true
resharper_wrap_before_extends_colon = true
resharper_wrap_before_first_type_parameter_constraint = true
resharper_wrap_before_linq_expression = true
resharper_wrap_before_primary_constructor_declaration_lpar = false
resharper_wrap_before_primary_constructor_declaration_rpar = false
resharper_wrap_chained_binary_expressions = chop_if_long
resharper_wrap_chained_binary_patterns = chop_if_long
resharper_wrap_chained_method_calls = chop_if_long
resharper_wrap_list_pattern = chop_if_long
resharper_wrap_multiple_type_parameter_constraints_style = chop_always

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers = true
dotnet_separate_import_directive_groups = true

# ReSharper inspection severities
resharper_arguments_style_string_literal_highlighting = none
csharp_prefer_system_threading_lock = true:suggestion
[*.vb]
dotnet_diagnostic.ca1047.severity = error
